.carousel-content {
    font-size: 200%;
    color: black;
    display:flex;
    align-items:center;
}

#text-carousel {
  width: 100%;
  height: auto;
  padding: 50px;
}
header{
    color: blue;
    Font-weight: bold;
}footer{
    color:blue;
    font-weight:bold;
    font-size:200%;
    font-family: fantasy;
}
    h1{
        font-family: fantasy; font-size: 400%;
    }
    th{
        font-size: 150%;
    }
    td{
        font-size: 100%;
    }
    a:link{
        font-family:fantasy;
        color:darkblue;
         text-decoration: underline;
    }
    a:visited{
        font-family:fantasy;
        color:maroon;
        text-decoration: underline;
    }
    a:focus{
        font-family:fantasy;
        color:darkblue;
        text-decoration: underline;
    }
    a:hover{
        font-family:fantasy;
        color:darkblue;
        font-weight: bold;
        text-decoration: underline;
    }
    a:active{
        font-family:fantasy;
        color:darkblue;
         text-decoration: none;
    }